.venv
__pycache__
*.pyc
*.pyo
*.pyd
.git
.env
.env.*
.idea
.vscode

logs/
backups/

tests/

traefik/
.github/
docker-compose*.yml
Makefile

.gitignore
.dockerignore
*.md

.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

.history
