# Project
.idea/
.vscode/
.code-workspace
data/*
tests
.DS_Store
traefik
logs/*
!logs/.gitkeep
.history
.claude

# Environment
.venv/
.env
venv/
.tests

# Cache
__pycache__/
*.py[cod]
.cache/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage/

# Build
build/
_build/
dist/
site/
*.egg-info/
*.egg
frontend/node_modules/
frontend/.env
